.sidebar {
  font-family: "Roboto";
  width: 20%;
  color: #FFFFFF;
  position: relative;
  padding: 70px 30px 20px;
  transition: 0s;

  a {
    background: rgba(51, 51, 51, 0.335);
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 8px;
    box-shadow: 2px 1px 0px rgb(11, 104, 102);
    backdrop-filter: blur(5px);
    font-size: 18px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    svg {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }

    &:hover {
      box-shadow: 4px 3px 0px rgb(11, 104, 102);
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);

      svg {
        margin-right: 15px;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
      }
    }
  }

  .bg {
    width: 150%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .btn {
    rotate: 180deg;
  }
}

.sidebar__hidden {
  width: fit-content;
  padding: 50px 15px;
  color: #FFFFFF;
  background: rgba(195, 165, 165, 0.049);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 50%;
  transition: all 0s;
  box-shadow: 2px 1px 0px rgb(11, 104, 102);


  a {
    display: block;
    margin-bottom: 15px;

    svg {
      width: 30px;
      height: 30px;
    }

    p {
      display: none;
    }

    &:hover {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
    }
  }

  .bg {
    display: none;
  }

  border-radius: 0px 30px 30px 0px;
  -webkit-border-radius: 0px 30px 30px 0px;
  -moz-border-radius: 0px 30px 30px 0px;
  -ms-border-radius: 0px 30px 30px 0px;
  -o-border-radius: 0px 30px 30px 0px;
  transform: translateY(-50%);

}

.btn {
  position: absolute;
  top: 20px;
  right: -15px;
  width: 30px;
  height: 30px;
  display: block;
  background: rgb(11, 104, 102);
  border-radius: 50%;
  background-image: url('../../assets/icons/blackArrow.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-bottom: 15px;
}

.btn:hover {
  background-color: rgb(15, 128, 126);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}